.form_container {
    background-color: #8c694a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_container {
    background-color: #593622;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    height: 40%;
    width: 50%;
    max-width: 400px;
    min-width: 340px;
    border-radius: 15%;
    text-align: center; 
}

.login_container input {
    padding: 10px 10px;
    text-align: center;
    border: 1px solid #260101;
    border-radius: 8px;  
    min-width: 75%;
    align-self: center;
    margin-bottom: 12px;
}

.login_container button {
    color: white;
    background-color: #260101;
    border-radius: 8px;
    align-self: center;
    padding: 8px;
    margin-bottom: 5px;
}

.login_container h5 {
    color: rgb(250, 250, 250);
    font-size: 1.2rem;
}